<ion-view style="" title="Sobre">
    <div class="header">Sobre</div>  
    <ion-content class="has-header about" overflow-scroll="true" padding="true">
      <p>O aplicativo Mapas Culturais foi desenvolvido pelo Instituto TIM em parceria com o Ministério da Cultura, para divulgar a programação cultural brasileira. Com ele, você acessa informações sobre eventos e espaços culturais de todo o país. O aplicativo é alimentado com os dados do Sistema Nacional de Informações e Indicadores Culturais e de instalações em estados e municípios da plataforma Mapas Culturais – software livre para gestão e mapeamento da cultura desenvolvido pelo Instituto TIM.</p>

      <p>Mais informações: <a href="http://institutotim.org.br">institutotim.org.br</a> / <a href="http://sniic.cultura.gov.br">sniic.cultura.gov.br</a> / <a href="http://github.com/hacklabr/mapasculturais-app">github</a></p>

      <p style="width: 100%; text-align: center; padding-top: 1em;">
        <img src="/img/tim.svg" width="80%" style="margin: auto"/>
      </p>
    </ion-content>
</ion-view>
