<ion-view style="" title="Sobre">
    <div class="header">Sobre</div>  
    <ion-content class="has-header about" overflow-scroll="true" padding="true">
		<p>O Mapa nas Nuvens – Cartografia Cultural do Distrito Federal, fruto da parceria da Secretaria de Cultura do Distrito Federal com Instituto TIM e Observatório de Economia Criativa, cria um espaço virtual inédito no Distrito Federal. Nesta plataforma colaborativa e autogestionada, qualquer pessoa pode se cadastrar para incluir seus projetos, iniciativas e espaços culturais. Inspirados pelo simbolismo do céu de Brasília, queremos mostrar um DF marcado pela diversidade e pela força de seu movimento cultural.</p>

		<p>Por este aplicativo, será possível encontrar o roteiro mais completo e dinâmico das atividades culturais do Distrito Federal e RIDE, desde a programação de cinema aos saraus poéticos, dos shows no centro do Plano Piloto às exposições no Museu Histórico de Planaltina. Tudo com informações precisas, fornecidas diretamente pelos produtores de eventos e gestores de espaços culturais.</p>

		<p>Todo o conteúdo pode ser encontrado por meio de linguagens ou tags, que indicam os programas gratuitos, os espetáculos, as ocupações artísticas etc. </p>

		<p>Convidamos você a conhecer a cara da cultura do DF pelo olhar dos próprios agentes culturais. Experimente a nossa cultura ao alcance de um clique em seus dispositivos móveis.</p>
    </ion-content>
</ion-view>
