<ion-view title="Agente">
    <ion-content class="has-header" overflow-scroll="true">
        <img ng-if="::entity.$files.avatarEvent" ng-src="{{::entity.$files.avatarEvent.url}}" style="width:100%">
        <h1>{{::entity.name}}</h1>
        <div class="info">
            <p><strong>endereço:</strong> {{::entity.endereco}}</p>
            <p><strong>tipo:</strong> {{::entity.type.name}}</p>
            <p><strong>area de atuação:</strong> {{::entity.terms.area.join(', ')}}</p>
            <p ng-if="::entity.owner.id"><i class="icon ion-person"></i> <span class="label">publicado por:</span> <a ui-sref="menu.agent({entity:entity.owner.id})">{{::entity.owner.name}}</a></p>
            
            <p ng-if="::entity.longDescription" ng-bind-html="::entity.longDescription"></p>
            <p ng-if="::!entity.longDescription" ng-bind-html="::entity.shortDescription"></p>
        </div>
        
        
        <div ng-if="entity.id" ng-controller="eventsCtrl" ng-init="findFunction = 'findByOwner'; findEntityId = entity.id">
            <filter-events on-apply="applyFilters" filters="filters" style="float:right"></filter-events>
            <h3>programação:</h3>
            
            <ion-list ng-repeat="group in groups">

                <div ng-if="::showCalendar(group.date)" class="item item-divider">
                    {{::group.date.calendar()}}
                </div>
                <div ng-if="::!showCalendar(group.date)" class="item item-divider">
                    {{::group.date.format('LLL')}}
                </div>

                <ion-list class="event-item">
                    <ion-item ng-repeat="event in group.events">
                        <h2>
                            <a ng-click="favorite(event)" class="favotite">
                                <i ng-show="event.favorite" class="elegant-icon icon-favorited"></i>
                                <i ng-show="!event.favorite" class="elegant-icon icon-favorite"></i>
                            </a>
                            <a ui-sref="menu.event({entity:event.id})">{{::event.name}}</a>
                        </h2>
                        <h3 ng-if="::event.subTitulo">{{::event.subTitle}}</h3>
                        
                        <p class="short-description">
                            <img ng-if="::event.$files.avatarSmall" ng-src="{{::event.$files.avatarSmall.url}}"/>
                            {{::event.shortDescription}}
                        </p>

                        <p ng-if="::event.subtitle">{{::event.subtitle}}</p>
                        <p ng-if="::event.project.id"><i class="icon ion-document-text"></i> <a ui-sref="menu.project({entity:event.project.id})">{{::event.project.name}}</a></p>
                        <p><i class="icon ion-home"></i> <a ui-sref="menu.space({entity:event.space.id})">{{::event.space.name}}</a></p>
                        <p><i class="icon ion-clock"></i> {{::event.start.format('LL')}} das {{::event.start.format('HH:mm')}} às {{::event.end.format('HH:mm')}}</p>
                        <p><i class="icon ion-social-usd"></i> {{::event.rule.price}}</p>
                        <p><strong>classificação:</strong> <span class="classificacao {{::classificacao(event)}}">{{::event.classificacaoEtaria}}</span></p>
                        <p><strong>linguagem:</strong> {{::event.terms.linguagem.join(', ')}}</p>

                    </ion-item>
                </ion-list>
            </ion-list>
            <ion-infinite-scroll ng-if="moreDataCanBeLoaded()" on-infinite="loadMore()" distance="10%"></ion-infinite-scroll>
        </div>

    </ion-content>
</ion-view>