<ion-view style="" title="Configurações">
    <div class="header">Configurações</div>  
    <ion-content class="has-header about" overflow-scroll="true" padding="true">
        <button ng-click="clearFavorites()"> Limpar Favoritos </button>
        
        <label class="item item-input item-select">
            <div class="input-label">Fonte de Dados:</div>
            <select ng-change="apply()" ng-options="value as value.name for value in dataSources" ng-model="config.dataSource"></select>
        </label>
    </ion-content>
</ion-view>