<ion-view title="Eventos">
    <ion-content class="has-header" overflow-scroll="true">
        <filter-events on-apply="applyFilters" filters="filters"></filter-events>
        
        <ion-list ng-if="groups.length > 0" ng-repeat="group in groups track by $index">

            <div ng-if="showCalendar(group.date)" class="item item-divider">
                {{::group.date.calendar()}}
            </div>
            <div ng-if="!showCalendar(group.date)" class="item item-divider">
                {{::group.date.format('LLL')}}
            </div>

            <ion-list class="event-item">
                <ion-item ng-repeat="event in group.events track by $index">
                    <h2 class="event-title">
                        <a ng-click="favorite(event)" class="make-favorite">
                            <i ng-show="event.favorite" class="elegant-icon icon-favorited"></i>
                            <i ng-show="!event.favorite" class="elegant-icon icon-favorite"></i>
                        </a>
                        <a ui-sref="menu.event({entity:event.id})" class="event-name">{{::event.name}}</a>
                    </h2>
                    <h3 class="event-subtitle" ng-if="event.subTitulo">{{::event.subTitle}}</h3>

                    <p class="short-description">
                        <img ng-if="event.$files.avatarSmall" ng-src="{{::event.$files.avatarSmall.url}}"/>
                        <span ng-bind-html="event.shortDescription"></span>
                    </p>

                    <p ng-if="event.subtitle">{{::event.subtitle}}</p>
                    <p ng-if="event.project.id"><a ui-sref="menu.project({entity:event.project.id})">{{::event.project.name}}</a></p>
                    <ul><li><a ui-sref="menu.space({entity:event.space.id})">{{::event.space.name}}</a>,
                    {{::event.start.format('LL')}} das {{::event.start.format('HH:mm')}} às {{::event.end.format('HH:mm')}}</li></ul>
                    <p><strong>Preço:</strong> {{::event.rule.price}}</p>
                    <p><strong>Classificação:</strong> <span class="classificacao {{::classificacao(event)}}">{{::event.classificacaoEtaria}}</span></p>
                    <p><strong>Linguagem:</strong> {{::event.terms.linguagem.join(', ')}}</p>

                </ion-item>
            </ion-list>
        </ion-list>
        
        <p ng-if="notFound">Nenhum evento encontrado, refaça a busca.</p>

        <ion-infinite-scroll ng-if="moreDataCanBeLoaded()" on-infinite="loadMore()" distance="30%"></ion-infinite-scroll>
    </ion-content>
</ion-view>
