<ion-view style="" title="Favoritos">
    <ion-content class="has-header" overflow-scroll="true">
      <ion-list class="event-item">
        <ion-item ng-repeat="event in events">
          <h2>
                <a ng-click="favorite(event)" class="favotite">
                    <i ng-show="event.favorite" class="icon ion-ios-star"></i>
                    <i ng-show="!event.favorite" class="icon ion-ios-star-outline"></i>
                </a>
                <a ui-sref="menu.event({entity:event.id})">{{event.name}}</a>
          </h2>
          <h3 ng-if="event.subTitulo">{{event.subTitle}}</h3>
          
          <p class="short-description">
            <img ng-if="event.$files.avatarSmall" ng-src="{{event.$files.avatarSmall.url}}"/>
            {{event.shortDescription}}
          </p>
          
          <p ng-if="event.subtitle">{{event.subtitle}}</p>
          <p ng-if="event.project.id"><i class="icon ion-document-text"></i> <a ui-sref="menu.project({entity:event.project.id})">{{event.project.name}}</a></p>
          <p><i class="icon ion-home"></i> <a ui-sref="menu.space({entity:event.space.id})">{{event.space.name}}</a></p>
          <p><i class="icon ion-clock"></i> {{event.start.format('LL')}} das {{event.start.format('HH:mm')}} às {{event.end.format('HH:mm')}}</p>
          <p><i class="icon ion-social-usd"></i> {{event.rule.price}}</p>
          <p><strong>classificação:</strong> <span class="classificacao {{classificacao(event)}}">{{event.classificacaoEtaria}}</span></p>
          <p><strong>linguagem:</strong> {{event.terms.linguagem.join(', ')}}</p>
          
        </ion-item>
      </ion-list>

    </ion-content>
</ion-view>
