<h3 ng-click="openModal()"><i class="elegant-icon icon-search"></i></h3>

<!--<button ng-click="applyFilters()">aplicar</button>-->
<script id="my-modal.html" type="text/ng-template">
    <ion-modal-view class="ion-nifty-modal">
        <ion-header-bar>
            <h1 class="title"><i class="elegant-icon icon-search"></i> Filtros</h1>
        </ion-header-bar>
        <ion-content style="background:white">
            <div class="item item-input">
                <i class="elegant-icon icon-search placeholder-icon"></i>
                <input ng-model="temp.keyword" ng-keydown="keyLog($event)" type="text" placeholder="Palavra-chave">
            </div>

            <div class="item item-toggle">
                <i class="icon icon_circle-slelected"></i>
                Somente eventos verificados
                <label class="toggle toggle-dark">
                    <input type="checkbox" ng-model="temp.verified">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </div>
            <div class="item">
                <span class="input-label">Linguagem</span>
                <select ng-options="linguagem for linguagem in linguagens" ng-model="temp.linguagem"></select>
            </div>
            <div class="item">
                <span class="input-label">Data</span>
                de <input type="date" class="input-date" ng-model="temp.from" style="display: inline-block;">
                até <input type="date" class="input-date" ng-model="temp.to" style="display: inline-block;">
            </div>
            <div class="item item-toggle">
                <i class="icon icon_circle-slelected"></i>
                Ocultar eventos passados
                <label class="toggle toggle-dark">
                    <input type="checkbox" ng-model="temp.hidePast">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </div>
        </ion-content>
        <ion-footer-bar align-title="left" class="bar-light">
            <div class="button-bar">
                <a class="button button-large icon-left ion-close-circled" ng-click="cancel()">Cancelar</a>
                <a class="button button-large icon-left ion-close-circled" ng-click="reset()">Limpar</a>
                <a class="button button-large icon-left ion-checkmark-circled" ng-click="applyFilters()">Aplicar</a>
            </div>
        </ion-footer-bar>
    </ion-modal-view>
</script>