<div class="name">
    <form ng-show="!showFilter" ng-submit="applyFilters()">
        <label class="item item-input search-input">
            <i class="icon elegant-icon icon-search placeholder-icon"></i>
            <input ng-model="temp.keyword" type="text" placeholder="Buscar eventos">
        </label>

        <button class="search-btn" type="submit"></button>
    </form>
    <span ng-show="showFilter" class="name">Filtros</span>
</div>
<div class="show-filters">
    <div ng-click="toggle()" id="event-filter" ><span class="elegant-icon icon-show-advanced-search"></span></div>
</div>
<div ng-if="showFilter" class="filters-background"></div>
<div class="filters-modal" ng-show="showFilter">

    <div class="list">
        <label class="item item-input item-select">
            <div class="input-label">Linguagem</div>
            <select ng-options="linguagem for linguagem in linguagens" ng-model="temp.linguagem"></select>
        </label>
    </div>

    <div class="list list-date">
        <div class="item">
            <div class="box input-label">Data</div>
            <div class="box">
                <span class="text">de</span>
                <input type="date" class="input-date" ng-model="temp.from">
            </div>
            <div class="box">
                <span class="text">até</span>
                <input type="date" class="input-date" ng-model="temp.to">
            </div>
        </div>
    </div>

    <div class="list">
        <div class="item item-toggle">
            <i class="icon icon_circle-slelected"></i>
            <span class="input-label">Mostrar eventos antigos</span>
            <label class="toggle toggle-dark">
                <input type="checkbox" ng-model="temp.showPast">
                <div class="track">
                    <div class="handle"></div>
                </div>
            </label>
        </div>
    </div>

    <div class="list">
        <div class="item item-toggle">
            <i class="icon icon_circle-selected"></i>
            <span class="input-label">Somente eventos verificados</span>
            <label class="toggle toggle-dark">
                <input type="checkbox" ng-model="temp.verified">
                <div class="track">
                    <div class="handle"></div>
                </div>
            </label>
        </div>
    </div>

    <footer>
        <div class="button-bar">
            <a class="button button-small icon-left ion-close-circled" ng-click="cancel()">Cancelar</a>
            <a class="button button-small icon-left ion-close-circled" ng-click="reset()">Limpar</a>
            <a class="button button-small icon-left ion-checkmark-circled" ng-click="applyFilters()">Aplicar</a>
        </div>
    </footer>
</div>
