<ul class="main-menu" ng-controller="navCtrl">
    <li class="menu-item menu-event" ng-class="{active: activeMenu === 'events'}">
        <span class="elegant-icon icon-event" ui-sref="menu.events"></span>
        <span class="label">eventos</span>
    </li>
    <li class="menu-item menu-space" ng-class="{active: activeMenu === 'spaces'}">
        <span class="elegant-icon icon-space" ui-sref="menu.spaces"></span>
        <span class="label">espaços</span>
    </li>
    <li class="menu-item menu-map" ng-class="{active: activeMenu === 'map'}">
        <span class="elegant-icon icon-map" ui-sref="menu.map"></span>
        <span class="label">mapas</span>
    </li>
    <li class="menu-item menu-favorite" ng-class="{active: activeMenu === 'favorites'}">
        <span class="elegant-icon icon-favorite" ui-sref="menu.favorites"></span>
        <span class="label">favoritos</span>
    </li>
    <li class="more">
        <span class="icon ion-android-more-vertical"></span>
    </li>
</ul>

<ion-nav-view name="app"></ion-nav-view>
