.item {
    background-color: #fff;
    border: 0;
    margin: $padding-base-vertical 0; 
    padding: $padding-large-vertical;
    h2 {
        font-size: $font-size-large;
        margin-bottom: $padding-large-vertical;
        padding-bottom: $padding-large-vertical;
        line-height: $line-height-base;
        border-bottom: 1px solid $gray-lighter;
        white-space: normal !important;
        overflow: auto !important;
    }
    .name {
        color: #000;
    }
    .subtitle {
        display: block;
        font-size: .875rem;
        font-weight: normal;
    }
    .make-favorite {
        color: $brand-favorite;
        padding: 0 5px;
        font-size: $font-size-large;
        float: right;
    }
    .description {
        font-size: $font-size-small;
        line-height: $line-height-large;
        margin-bottom: $padding-large-vertical;
        white-space: normal !important;
        overflow: auto !important;
    }
    .thumb {
        float: left;
        width: 4rem;
        height: 4rem;
        line-height: $line-height-large;
        margin: $padding-base-vertical $padding-large-vertical $padding-base-vertical 0;
        background-color: $gray;
    }
    .ocurrences {
        font-size: $font-size-small;
        font-style: italic;
        margin: 0 0 $padding-large-vertical 0;
        clear: both;
        a {
            color: $gray-darker;
            font-weight: bold;
        }
        li {
            font-weight: normal;
            list-style: disc inside;
        }
    }
    .information {
        p {
            font-size: $font-size-small;
            line-height: $line-height-large;
            white-space: normal !important;
            overflow: auto !important;
        }
    }
    .label {
        font-family: $font-family-base;
        font-size: 11px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
}

.item-divider {
    background-color: #fff;
    font-family: $font-family-base;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0; 
}
