//
// List
// --------------------------------------------------

.list {
    background-color: $gray-lighter;
}

.event-item {
    .information {
        a {
            color: $brand-event;
            font-weight: bold;
        }
    }
}

.space-item {
    .information {
        a {
            color: $brand-space;
            font-weight: bold;
        }
    }
}

.favorite-item {
    .information {
        a {
            color: $brand-favorite;
            font-weight: bold;
        }
    }
}

.agent-item {
    .information {
        a {
            color: $brand-agent;
            font-weight: bold;
        }
    }
}

.project-item {
    .information {
        a {
            color: $brand-project;
            font-weight: bold;
        }
    }
}

.classificacao { 
    padding: 2px 5px;
}

.clivre {
    background-color: rgb(0,166,81);
    color:white;
}

.c10 {
    background-color: rgb(0,149,218);
    color:white;
}

.c12 {
    background-color: rgb(255,203,5);
    color:white;
}

.c14 {
    background-color: rgb(245,130,32);
    color:white;
}

.c16 {
    background-color: rgb(236,29,37);
    color:white;
}

.c18 {
    background-color: rgb(0,0,0);
    color:white;
}
