//** Styles from main menu
.main-menu {
    position: relative;
    z-index: 10;
    .more {
        float: left;
        padding: .25rem;
        text-align: center;
        line-height: 1.25rem;
        width: 8%;
                box-shadow: 1px 0 0 0 $gray-lighter inset;
        -webkit-box-shadow: 1px 0 0 0 $gray-lighter inset;
        .icon {
            margin: 0 auto .25rem;
            font-size: 1.4rem;
            line-height: $line-height-base;
            border-radius: $border-radius-base;
        }
    }
    > .menu-item {
        list-style-type: none;
        float: left;
        box-sizing: border-box;
        padding: .25rem;
        width: 23%;
        text-align: center;
        border-top: 3px solid $brand-accent;
                box-shadow: 1px 0 0 0 $gray-lighter inset;
        -webkit-box-shadow: 1px 0 0 0 $gray-lighter inset;
        > a {
            display: block;
            vertical-align: middle;
            line-height: 1.25rem;
            text-align: center;
            &:hover {
                text-decoration: none;
            }
        }
        .elegant-icon {
            margin: 0 auto .25rem;
            font-size: 1.1rem;
            line-height: $line-height-base;
            border-radius: $border-radius-base;
        }
        .menu-item-label {
            display: none;
        }
        &:first-child {
                    box-shadow: none;
            -webkit-box-shadow: none;
        }
        &:hover {
            border-top-color: $brand-primary;
            > a {
                color: $brand-primary;
            }
        }

        //** Events
        &.menu-event {
            &.active {
                border-top-color: $brand-event;
                color: $brand-event;
                a {
                    color: $brand-event;
                }
                &:after {
                    @include arrow(up, $caret-width-base, $brand-event);
                }
            }
        }
        //** Agents
        &.menu-agent {
            &.active {
                border-top-color: $brand-agent;
                color: $brand-agent;
                a {
                    color: $brand-agent;
                }
                &:after {
                    @include arrow(up, $caret-width-base, $brand-agent);
                }
            }
        }
        //** Spaces
        &.menu-space {
            &.active {
                border-top-color: $brand-space;
                color: $brand-space;
                a {
                    color: $brand-space;
                }
                &:after {
                    @include arrow(up, $caret-width-base, $brand-space);
                }
            }
        }
        //** Projects
        &.menu-project {
            &.active {
                border-top-color: $brand-project;
                color: $brand-project;
                a {
                    color: $brand-project;
                }
                &:after {
                    @include arrow(up, $caret-width-base, $brand-project);
                }
            }
        }

        //** Map
        &.menu-map {
            &.active {
                border-top-color: $brand-map;
                color: $brand-map;
                a {
                    color: $brand-map;
                }
                &:after {
                    @include arrow(up, $caret-width-base, $brand-map);
                }
            }
        }

        //** Favorite
        &.menu-favorite {
            &.active {
                border-top-color: $brand-favorite;
                color: $brand-favorite;
                a {
                    color: $brand-favorite;
                }
                &:after {
                    @include arrow(up, $caret-width-base, $brand-favorite);
                }
            }
        }

        //** More
        &.menu-more {
            border-top-color: $brand-default;
            color: $brand-default;
            a {
                color: $brand-default;
            }
            &.active {
                &:after {
                    @include arrow(up, $caret-width-base, $brand-default);
                }
            }
        }
    }
}