.single {
    .spaces {
        margin-top: $padding-large-vertical;
        .list {
            background: transparent;
        }
        .item {
            display: table;
            padding: 0;
        }
        .make-favorite {
            display: table-cell;
            vertical-align: top;
        }
        .ocurrences {
            font-weight: bold;
            display: table-cell;
            vertical-align: top;
        }
    }
    .events {
        margin: 10px -10px;
        .schedule-title {
            margin: $padding-large-vertical 0; 
            padding: $padding-large-vertical;
        }
        .list {
            margin-top: 6px;
        }
    }
}

