/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Mar 2, 2016, 8:28:51 PM
    Author     : rafael
*/
ion-item {
    white-space: normal !important;
}

a {
    text-decoration: none;
}

.ion-nifty-modal {
    top:10%;
    height:auto !important;
}

.input-date {
    padding-top:0px !important;
}